<div class="modal-container" *ngIf="visible">
  <div class="modal">
    <div class="modal-header">
      <h2>{{ formUser.users_id ? 'Editar Usuario' : 'Nuevo Usuario' }}</h2>
      <p>{{ formUser.users_id ? 'Modifica los datos del usuario' : 'Completa el formulario para crear un nuevo usuario' }}</p>
      <button class="close-button" aria-label="Cerrar" (click)="onCancel()">×</button>
    </div>

    <form class="form-grid">
      <div class="form-group">
        <label>Nombre</label>
        <input type="text" class="input" placeholder="Ingrese el nombre" [(ngModel)]="formUser.name" name="name" />
      </div>

      <div class="form-group">
        <label>Apellido</label>
        <input type="text" class="input" placeholder="Ingrese el apellido" [(ngModel)]="formUser.last_name" name="last_name" />
      </div>

      <div class="form-group">
        <label>Tipo Documento</label>
        <select class="input" [(ngModel)]="formUser.document_type" name="document_type">
          <option value="DNI">DNI</option>
          <option value="CNE">CNE</option>
        </select>
      </div>

      <div class="form-group">
        <label>Número de Documento</label>
        <input type="text" class="input" placeholder="Ingrese el número" [(ngModel)]="formUser.document_number" name="document_number" />
      </div>

      <div class="form-group">
        <label>Teléfono</label>
        <input type="text" class="input" placeholder="Ingrese el teléfono" [(ngModel)]="formUser.cellphone" name="cellphone" />
      </div>

      <div class="form-group">
        <label>Email</label>
        <input type="email" class="input" placeholder="Ingrese el email" [(ngModel)]="formUser.email" name="email" />
      </div>

      <div class="form-group">
        <label>Rol</label>
        <select class="input" [(ngModel)]="formUser.role" name="role">
          <option value="A">(A) Administrador</option>
          <option value="E">(E) Empleado</option>
          <option value="C">(C) Cliente</option>
        </select>
      </div>

    </form>

    <div class="modal-footer">
      <button class="btn cancel" type="button" (click)="onCancel()">Cancelar</button>
      <button class="btn confirm" type="button" (click)="onSubmit()">
        {{ formUser.users_id ? 'Actualizar usuario' : 'Crear usuario' }}
      </button>
    </div>
  </div>
</div>
