<div class="container">
  <div class="header">
    <h1>Usuarios</h1>
    <button class="btn-nuevo" (click)="openUserForm()">+ Nuevo Usuario</button>
  </div>

  <div class="card">
    <div class="card-header">
      <h2>Gestión de Usuarios</h2>
      <p>Administra los usuarios del sistema</p>
      <div class="toolbar">
        <input type="text" placeholder="Buscar por nombre, documento o email..." [(ngModel)]="searchTerm"
          (input)="filterUsers()" />

        <select [(ngModel)]="selectedRole" (change)="filterUsers()">
          <option value="">Todos los roles</option>
          <option value="Admin">Admin</option>
          <option value="Cocinero">Cocinero</option>
          <option value="Mesero">Mesero</option>
          <option value="Cajero">Cajero</option>
          <option value="Cliente">Cliente</option>
        </select>

        <select [(ngModel)]="selectedState" (change)="filterUsers()">
          <option value="">Todos los estados</option>
          <option value="A">(A) Activos</option>
          <option value="I">(I) Inactivos</option>
        </select>
      </div>
    </div>

    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Documento</th>
          <th>Correo</th>
          <th>Celular</th>
          <th>Rol</th>
          <th>Registro</th>
          <th>Estado</th>
          <th class="acciones">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr class="values_data" *ngFor="let user of filteredUsers">
          <td>{{ user.name }} {{ user.last_name }}</td>
          <td>{{ user.document_type }}: <br> {{ user.document_number }}</td>
          <td><i class="fa-regular fa-envelope"></i>{{ user.email }}</td>
          <td><i class="fa-solid fa-phone"></i>{{ user.cellphone }}</td>
          <td>
            <span class="badge" [ngClass]="user.role.toLowerCase()">
              {{ user.role }}
            </span>
          </td>
          <td>{{ user.registration_date }}</td>
          <td>
            <span class="estado" [ngClass]="user.state.toLowerCase()">
              {{ user.state }}
            </span>
          </td>
          <td class="acciones">
            <button class="icon-btn editar" title="Editar" (click)="editUser(user)">
              <i class="fas fa-pen"></i>
            </button>
            <button class="icon-btn eliminar" title="Eliminar" (click)="deleteUser(user.users_id!)">
              <i class="fas fa-trash"></i>
            </button>
            <button class="icon-btn restaurar" title="restaurar" (click)="restoreUser(user.users_id!)"> <i class="fa-regular fa-square-check"></i></button>


          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <app-users-form
  [visible]="showUserForm"
  [user]="selectedUser"
  (cancel)="closeUserForm()"
  (create)="createUser($event)"
  (update)="updateUser($event)">
</app-users-form>

</div>